{% extends 'base.html.twig' %}

{% form_theme formPartner 'bootstrap_4_layout.html.twig' %}


{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1>Création d'un partenaire</h1>

    {{ form_start(formPartner) }}

    {{ form_row(formPartner.name, {'attr':{'placeholder': "Nom du partenaire"} }) }}



    {{ form_row(formPartner.image, {'attr':{'placeholder': "image"} }) }}

    {{ form_row(formPartner.validated, {'attr':{'placeholder': "position"} }) }}




    <button type="submit" class="btn btn-danger">
        {% if editMode %}
            mettre à jour le partenaire
        {% else %}
            Ajouter le partenaire
        {% endif %}
    </button>

    {{ form_end(formPartner) }}

{% endblock %}



